.footer-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 80px;
    padding-left: 30px;
    flex-direction: column;
    /* background-color: var(--theme-shade-four); */
}

/* minimum iPads (portrait and landscape)  */
@media only screen and (max-device-width: 1024px) {
    .footer-outer {

        .header-menu-list {
            flex-direction: column;
            text-align: center;
        }
    }
}

/* Smartphones (portrait) */
@media only screen and (max-width: 767px) {
    .footer-outer {
        align-items: flex-start;

        .header-menu-list {
            flex-direction: column;
            text-align: left;
        }
    }
}
