.side-menu-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(35% - 40px);
    background: var(--theme-shade-four);
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 20px;
    text-align: left;
}

.side-menu .close-btn img {
    height: 20px;
}

/* minimum iPads (portrait and landscape)  */
@media only screen and (max-device-width: 1024px) {
    .side-menu-outer {
        width: calc(50% - 40px);
    }
}

/* Smartphones (portrait) */
@media only screen and (max-width: 767px) {
    .side-menu-outer {
        width: calc(75% - 40px);
    }

    .side-menu .close-btn img {
        height: 17px;
    }
}
