.App {
  /* text-align: center; */
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.clickable-text {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  cursor: pointer;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
}

.clickable-text:hover, .clickable-text:active {
  font-weight: 600;
  color: var(--logo-shade-one);
  background: -webkit-linear-gradient(var(--logo-shade-one), var(--logo-shade-two));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

button {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  
  background: rgb(134,211,255);
  background: linear-gradient(90deg, rgba(134,211,255,1) 0%, rgba(229,132,252,1) 70%);
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: transparent;
  /* padding: 0; */
}

button:hover, button:active {
  background: rgb(134,211,255);
  background: linear-gradient(45deg, rgba(134,211,255,1) 0%, rgba(229,132,252,1) 50%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.no-background {
  background: transparent !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
