/* :root, */
:root.light {
  --theme-scheme-four: #A8D3DA;
  --theme-scheme-three: #B590CA;
  /* --theme-scheme-three: #FFC764; */
  --theme-scheme-two: #FED1EF;
  --theme-scheme-one: #F5CAB3;

  --theme-color-red: #84142D;

  --theme-scheme-light-background:#F3ECB8;

  --theme-text-main: #84142D;
  --theme-text-color: #1C6DD0;
  --theme-text-primary: #240A34;
  --theme-text-secondary: #16003B;

  --logo-shade-one: rgba(134,211,255);
  --logo-shade-two: rgb(229,132,252,1);
}
:root,
:root.dark {
  /* --theme-scheme-four: #23103A; */

  --theme-scheme-four: #240A34;
  /* --theme-scheme-three: #461959; */
  --theme-scheme-three: #891652;
  --theme-scheme-two: #16003B;
  --theme-scheme-one: #891652; /** keep this **/

  --theme-color-red: #84142D;

  --theme-scheme-light-background: #FFEDD8;

  --theme-text-main: #EABE6C;
  --theme-text-color: #570A57;
  --theme-text-primary: #A8D3DA;
  --theme-text-secondary: #a8d3dabb;

  --logo-shade-one: rgba(134,211,255);
  --logo-shade-two: rgba(229,132,252,1);
}

body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--theme-text-primary);
  background-color: var(--theme-scheme-four);
}

h1, h2 {
  font-weight: 600;
}

h3, h4, h5 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
